---
import HeaderLayout from '../layouts/HeaderLayout.astro';
import Layout from '../layouts/Layout.astro';

let headerTitle = 'Web developer, writer, and streamer.'
let headerDescription = `I'm Ryan Furrer, a front-end web developer based on Long Island, New York. I'm currently a UX engineer at Gridiron Survior, where we change the way football surivor leagues are played.`
---

<Layout title="Ryan Furrer">
		<HeaderLayout headerTitle={headerTitle} headerDescription={headerDescription}>
		</HeaderLayout>
		<main>
		</main>
</Layout>