---
import Header from '../layouts/Header.astro';
import Layout from '../layouts/Layout.astro';

let headerTitle = 'Ryan Furrer'
---

<Layout title="Ryan Furrer" headerTitle={headerTitle}>
		<Header headerTitle={headerTitle}>
			<p slot='extraHeaderText' class='text-balance'>
				I'm a NY based <a href="#">Front-End Web Developer</a>, <a href="#">writer</a>, and <a href="#">streamer</a>. Right now I am working at <a href="#">Gridiron Survivor</a> as a UX Engineer and am looking for my next role.
			</p>
		</Header>
		<main>
		</main>
</Layout>