---
---

<nav class='pt-10'>
  <ul class='grid gap-2' role='list'>
    <li>
      <a href="/">Home</a></li>
    <li>
      <a href="/about">Projects</a></li>
    <li>
      <a href="/content">Content</a></li>
    <li>
      <a href="/about">About</a></li>
      <li>
        <a href="/tags">Tags</a></li>
  </ul>
</nav>