---
---

<nav class='pb-10'>
  <ul class='flex gap-4' role='list'>
    <li>
      <a href="/">Home</a></li>
    <li>
      <a href="/about">Projects</a></li>
    <li>
      <a href="/content">Content</a></li>
    <li>
      <a href="/about">About</a></li>
  </ul>
</nav>

<style>
	a {
		@apply underline
	}
</style>