---
import Nav from "../components/Nav.astro";

interface HeaderProps {
  headerTitle: string,
  headerDescription?: string,  
}

let {headerTitle, headerDescription} = Astro.props;
---

<header>
  <h1 class='uppercase text-xl pb-[.5em]'>{headerTitle}</h1>
  <p>{headerDescription}</p>
  <slot name='extraHeaderText' />
  <Nav />
</header>